.advantages__list {
  @media (min-width: $tablet) {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.advantages__img-wrap {
  text-align: center;

  background-color: $brown;

  &--first {
    @media (min-width: $tablet) {
      grid-area: 1/2/2/4;
    }
  }
  &--second {
    @media (min-width: $tablet) {
      grid-area: 3/1/4/3;
    }
  }
}

.advantages__title {
  color: $black;

  @include fonts($font-size-medium, $line-height-big, 700);
}

.advantages__text {
  color: $black-lighten;

  @include fonts($font-size-small, $line-height-small);
}

.advantages__item {
  &--blue {
    text-align: center;

    background-color: $blue;


    &--first {
      padding-top: 34px;
      padding-bottom: 39px;
    }

    &--second {
      padding-top: 39px;
      padding-bottom: 35px;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 20px;

      color: $white;
    }

    p {
      width: 96%;
      margin: auto;
      margin-top: 18px;
      margin-bottom: 0;

      color: $white;
    }
  }

  &--white {
    width: 70%;
    padding-left: 40px;

    text-align: left;
    h3 {
      margin-top: 26px;
      margin-bottom: 0;
    }

    p {
      margin-top: 18px;
      margin-bottom: 0;
    }

    &--first {
      h3 {
        margin: 0;
      }
    }
  }

  &--gray {
    padding-top: 25px;
    padding-bottom: 24px;

    text-align: center;

    background-color: $gray;

    h3 {
      margin-top: 0;
      margin-bottom: 16px;
    }

    p {
      width: 83%;
      margin: auto;
      margin-top: 18px;
      margin-bottom: 0;
    }
  }

  &--border {
    border-top: 1px solid $gray-900;
    border-bottom: 1px solid $gray-900;
  }
}

.advantages__white-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    grid-area: 2/1/3/4;
  }
}
