.button-wrap {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-area: 5/1/6/3;
  }
}

.button-wrap__button {
  width: 280px;
  margin: 0 auto;
  padding-top: 19px;
  padding-right: 19px;
  padding-bottom: 13px;
  padding-left: 13px;

  @media (min-width: $tablet) {
    width: 50%;
    margin: 0;
    padding-right: 41px;
    padding-left: 28px;
  }


  @media (min-width: $desktop) {
    padding-right: 34px;
    padding-left: 35px;
  }
}

.button-wrap__required-field {
  color: $black-lighten;

  @include fonts($font-size-small, $line-height-big, 400);

  @media (max-width: $mobile-max) {
    display: none;
  }

  @media (min-width: $tablet) {
    padding-top: 4px;
  }
}
