.controls {
  position: relative;

  width: 88%;
  height: 66px;
  margin: 0 auto;

  background-color: $gray-600;

  @media (min-width: $tablet) {
    width: 84%;
    max-width: 800px;
    height: 0;
  }

  @media (min-width: $desktop) {
    width: 800px;
  }
}

.controls__scale {
  position: absolute;
  bottom: 66px;

  width: 100%;

  background-color: $black-60;

  @media (min-width: $tablet) {
    bottom: 0;
  }
}

.controls__bar {
  position: relative;

  display: block;
  width: 84%;
  height: 3px;
  margin: 21px auto;

  background-color: $white-20;

  @media (min-width: $tablet) {
    width: auto;
    margin: 45px 166px 45px 93px;
  }
}

.controls__toggle-wrap {
  position: absolute;
  top: 7px;
  left: 20%;

  width: 11px;
  height: 11px;
  padding: 10px;

  @media (min-width: $tablet) {
    top: 31px;
    left: 30%;
  }
}

.controls__toggle {
  width: 11px;
  height: 11px;
  margin: auto;

  background-color: $white;
  border-radius: 50%;
}

.controls__button {
  position: absolute;
  top: 17px;

  background-color: transparent;
  border: none;

  svg {
    @media (min-width: $tablet) {
      fill: $white;
    }
  }

  &--restart {
    left: 15px;

    padding: 5px 10px;

    @media (min-width: $tablet) {
      top: -63px;
      left: 30px;
    }
  }

  &--subtitles {
    right: 74px;

    padding: 5px 0;

    @media (min-width: $tablet) {
      top: -63px;
      right: 92px;
    }
  }

  &--full-screen {
    right: 18px;

    padding: 5px;

    @media (min-width: $tablet) {
      top: -63px;
      right: 32px;
    }
  }
}
