.controls {
  position: relative;

  width: 88%;
  height: 66px;
  margin: 0 auto;

  background-color: $gray-600;

  @media (min-width: $tablet) {
    width: 84%;
    max-width: 800px;
    height: 0;
  }

  @media (min-width: $desktop) {
    width: 800px;
  }
}

.controls__scale {
  position: absolute;
  bottom: 65px;

  width: 100%;

  background-color: $black-60;

  @media (min-width: $tablet) {
    bottom: 0;
  }
}

.controls__bar {
  position: relative;

  display: block;
  width: 84%;
  height: 3px;
  margin: 21px auto;

  background-color: $white-20;

  @media (min-width: $tablet) {
    width: auto;
    margin: 45px 166px 45px 93px;
  }
}

.controls__toggle-wrap {
  position: absolute;
  top: 7px;
  left: 17%;

  width: 11px;
  height: 11px;
  padding: 10px;

  @media (min-width: $tablet) {
    top: 31px;
    left: 30%;
  }

  @media (min-width: $desktop) {
    left: 24%;
  }
}

.controls__toggle {
  width: 11px;
  height: 11px;
  margin: auto;

  background-color: $white;
  border-radius: 50%;
}

.controls__button {
  position: absolute;
  top: 20px;

  background-color: transparent;
  border: none;

  svg {
    &:hover {
      fill: $black-lighten;
    }

    &:active {
      fill: $black-lighten-30;
    }

    @media (min-width: $tablet) {
      fill: $white;

      &:hover {
        fill: $white-60;
      }

      &:active {
        fill: $white-30;
      }
    }
  }

  &--restart {
    top: 19px;
    left: 16px;

    padding: 5px 10px;

    @media (min-width: $tablet) {
      top: -63px;
      left: 24px;
    }
  }

  &--subtitles {
    right: 75px;

    padding: 5px 0;

    @media (min-width: $tablet) {
      top: -62px;
      right: 91px;
    }

    @media (min-width: $desktop) {
      right: 94px;
    }
  }

  &--full-screen {
    right: 19px;

    padding: 5px;

    @media (min-width: $tablet) {
      top: -62px;
      right: 35px;
    }

    @media (min-width: $desktop) {
      right: 38px;
    }
  }
}
