.copyright {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-max) {
    margin-top: 40px;
  }
}

.copyright__text {
  display: inline-block;
  margin-top: 0;
  margin-right: 13px;
  margin-bottom: 2px;

  color: $black;
  word-break: break-all;

  @include fonts($font-size-small, $line-height-big);

  @media (max-width: $mobile-max) {
    padding-left: 20px;
  }

  @media (min-width: $tablet) {
    width: 152px;

    text-align: right;
  }
}

.copyright__link {
  @media (max-width: $mobile-max) {
    margin-right: 20px;
  }
}

.copyright__image {
  fill: $black;

  &:hover {
    fill: $blue;
  }

  &:active {
    fill: $black-30;
  }
}
