.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 42px;

  @media (min-width: $tablet) {
    display: grid;
    width: 84%;
    margin: 0 auto;
    padding-bottom: 65px;

    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, min-content);
  }

  @media (min-width: $desktop) {
    width: 80%;
    padding-bottom: 71px;
  }
}
