.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 38px;

  @media (min-width: $tablet) {
    display: grid;
    width: 84%;
    margin: 0 auto;

    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, min-content);
  }
}
