.heading {
  text-align: center;

  &--main {
    padding-bottom: 11px;

    @media (min-width: $tablet) {
      padding-bottom: 53px;
    }
  }

  &--form {
    padding-bottom: 16px;

    @media (min-width: $tablet) {
      padding-bottom: 91px;
    }
  }

  &--catalog {
    padding-bottom: 20px;

    @media (min-width: $tablet) {
      padding-bottom: 65px;
    }
  }
}

.heading__img-wrap {
  position: relative;

  width: 100%;
  height: 389px;

  text-align: center;

  background: url("../img/back-mobile@1x.jpg") no-repeat 50% 100%;

  object-fit: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
    background-size: 901px auto;
  }

  @media (min-width: $tablet) {
    height: 518px;

    background-image: url("../img/back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  &--short {
    @media (max-width: $mobile-max) {
      height: 158px;

      background-image: url("../img/back-mobile-short@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/back-mobile-short@2x.jpg");
        background-size: 902px auto;
      }
    }

    @media (min-width: $tablet) {
      height: 290px;

      background-image: url("../img/back-desktop-short@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/back-desktop-short@2x.jpg");
        background-size: 1200px auto;
      }
    }
  }
}

.heading__logo {
  margin-top: 90px;

  &--short {
    @media (max-width: $mobile-max) {
      margin-top: 52px;
    }

    @media (min-width: $tablet) {
      width: 457px;
      height: 78px;
      margin-top: 95px;
    }
  }

  &--big {
    @media (min-width: $tablet) {
      width: 461px;
      height: 350px;
      margin-top: 77px;
    }
  }
}

.heading__title-wrap {
  text-align: center;
}

.heading__title {
  width: 85%;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 0;

  color: $black;
  word-break: break-all;

  @include fonts($font-size-medium, $line-height-big, 700);

  @media (min-width: $tablet) {
    margin-top: 44px;
  }

  &--form {
    margin-top: 36px;
    margin-bottom: 0;

    @media (min-width: $tablet) {
      margin-top: 64px;
    }

    @media (min-width: $desktop) {
      margin-top: 114px;
    }
  }

  &--catalog {
    @media (min-width: $tablet) {
      margin-top: 64px;
    }
  }

  br {
    @media (max-width: $mobile-medium) {
      display: none;
    }
  }
}

.heading__intro {
  width: 85%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0;

  color: $black-lighten;

  @include fonts($font-size-small, $line-height-big);

  @media (max-width: $mobile-max) {
    width: 92%;
  }

  br {
    @media (max-width: $mobile-medium) {
      display: none;
    }
  }
}
