.heading {
  text-align: center;

  &--main {
    padding-bottom: 32px;

    @media (min-width: $tablet) {
      padding-bottom: 51px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 39px;
    }
  }

  &--form {
    padding-bottom: 16px;

    @media (min-width: $tablet) {
      padding-bottom: 87px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 57px;
    }
  }

  &--catalog {
    padding-bottom: 29px;

    @media (min-width: $tablet) {
      padding-bottom: 76px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 79px;
    }
  }
}

.heading__img-wrap {
  position: relative;

  width: 100%;
  height: 388px;

  text-align: center;

  background: url("../img/back-mobile@1x.jpg") no-repeat 50% 100%;
  background-color: $blue;

  object-fit: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
    background-size: 901px auto;
  }

  @media (min-width: $tablet) {
    height: 518px;

    background-image: url("../img/back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  &--short {
    @media (max-width: $mobile-max) {
      height: 157px;

      background-image: url("../img/back-mobile-short@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/back-mobile-short@2x.jpg");
        background-size: 902px auto;
      }
    }

    @media (min-width: $tablet) {
      height: 290px;

      background-image: url("../img/back-desktop-short@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/back-desktop-short@2x.jpg");
        background-size: 1200px auto;
      }
    }

    @media (min-width: $desktop) {
      height: 301px;
    }
  }
}

.heading__logo {
  margin-top: 89px;

  &--short {
    @media (max-width: $mobile-max) {
      margin-top: 51px;
      padding-right: 2px;
    }

    @media (min-width: $tablet) {
      width: 457px;
      height: 78px;
      margin-top: 95px;
      padding-left: 2px;
    }

    @media (min-width: $desktop) {
      width: 460px;
      height: 80px;
      margin-top: 101px;
      padding-right: 4px;
    }
  }

  &--big {
    @media (min-width: $tablet) {
      width: 460px;
      height: 352px;
      margin-top: 77px;
    }
  }
}

.heading__title-wrap {
  text-align: center;
}

.heading__title {
  width: 85%;
  margin: auto;
  margin-top: 33px;
  margin-bottom: 0;
  padding-right: 4px;

  color: $black;

  @include fonts($font-size-medium, $line-height-big, 700);

  @media (min-width: $tablet) {
    margin-top: 44px;

    @include fonts($font-size-big, $line-height-big, 700);
  }

  @media (min-width: $desktop) {
    margin-top: 56px;
  }

  &--form {
    margin-top: 36px;
    margin-bottom: 0;
    padding: 0;

    @media (min-width: $tablet) {
      margin-top: 62px;

      @include fonts($font-size-large, $line-height-big, 700);
    }

    @media (min-width: $desktop) {
      margin-top: 114px;
    }
  }

  &--catalog {
    padding-right: 0;

    @media (min-width: $tablet) {
      margin-top: 64px;

      @include fonts($font-size-large, $line-height-big, 700);
    }

    @media (min-width: $desktop) {
      margin-top: 100px;
    }
  }

  br {
    @media (max-width: $mobile-medium) {
      display: none;
    }
  }
}

.heading__intro {
  width: 92%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0;

  color: $black-lighten;

  @include fonts($font-size-small, $line-height-big);

  @media (min-width: $tablet) {
    margin-top: 33px;
  }

  br {
    @media (max-width: $mobile-medium) {
      display: none;
    }
  }

  &--form {
    @include fonts($font-size-small, $line-height-medium);
  }

  &--catalog {
    width: 89%;
    margin-top: 27px;

    @include fonts($font-size-small, $line-height-average);

    @media (min-width: $tablet) {
      margin-top: 32px;
    }
  }
}
