
.main-nav__list {
  display: flex;
  flex-direction: column;

  @include list;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 11px;
    padding-left: 34px;
  }
  @media (min-width: $desktop) {
    padding-right: 55px;
    padding-left: 76px;
  }
}

.main-nav__item {
  text-align: center;

  background-color: $blue;
  @media (min-width: $tablet) {
    background-color: $white;
  }
}

.main-nav__link {
  display: block;

  color: $white;
  text-decoration: none;

  @include fonts($font-size-medium, $line-height-large, 700);
  @media (min-width: $tablet) {
    margin: 16px 0 14px;
    padding: 0 15px;

    color: $black;

    @include fonts($font-size-small, $line-height-big, 700);
  }
}

.main-nav__item:nth-child(2) {
  @media (min-width: $tablet) {
    margin-right: auto;
  }
}
