.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 36px;

  background-color: $white;

  @media (max-width: $mobile-max) {
    padding-bottom: 23px;
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    margin: 0 auto;
  }
}

.page-footer__text {
  margin-top: 0;
  margin-bottom: 34px;

  color: $black;

  @include fonts($font-size-big, $line-height-big, 700);

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}
