.page-footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 26px;
  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
    padding-left: 50px;
  }
}

.page-footer__text {
  margin-top: 0;
  margin-bottom: 34px;

  color: $black;

  @include fonts($font-size-big, $line-height-big, 700);
  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}
