.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 19px;

  background-color: $white;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    max-width: 962px;
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 24px;
  }
}

.page-footer__text {
  margin-top: 0;

  color: $black;
  word-break: break-all;

  @include fonts($font-size-big, $line-height-big, 700);

  @media (max-width: $mobile-max) {
    margin-bottom: 33px;
    padding: 0 20px 0 18px;

    text-align: center;
  }

  @media (min-width: $tablet) {
    width: 200px;
    margin-top: 17px;
  }
}
