.page-header {
  position: relative;

  text-align: center;
}

.page-header__toggle {
  position: absolute;
  top: 0;
  right: 3px;
  z-index: 1;

  width: 22px;
  height: 22px;
  padding: 27px;

  background: url("../img/cross.svg") no-repeat 50% 50%;
  border: 0;

  &--closed {
    width: 23px;
    height: 22px;

    background: url("../img/icon-menu.svg") no-repeat 50% 50%;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--nojs {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__logo {
  position: absolute;
  bottom: -32px;
  left: 50%;
  z-index: 1;

  transform: translate(-50%, 0);
}
