.search {
  $bl: ".search";

  &__wrapper {
    padding-top: 33px;
    padding-bottom: 49px;

    text-align: center;

    #{$bl}__title {
      color: $font-black;

      @include title-general($font-size-big, $line-height-big);
      @include margin(0, 30px);
    }

    #{$bl}__text {
      color: $font-black-lighten;

      @include text-general($font-size-small, $line-height-medium);
      @include margin(0, 27px);
    }

    #{$bl}__button {
      width: 230px;
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  &__wrapper-img {
    display: relative;

    #{$bl}__map-iframe {
      position: absolute;

      width: 100%;
    }

    #{$bl}__map-image {
      width: 100%;
      min-height: 350px;

      object-fit: cover;
    }
  }
}
