.social__list {
  display: flex;
  justify-content: space-between;
  width: 151px;

  @include list;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;

  text-decoration: none;

  background-color: $blue;
}
