.social__list {
  display: flex;
  flex-wrap: wrap;
  width: 151px;
  margin: 0 auto;

  @include list;

  @media (min-width: $tablet) {
    margin-right: 9px;
  }
}

.social__item {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  margin-bottom: 6px;

  background-color: $blue;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover {
    background-color: $blue-darken;
  }

  &:active {
    background-color: $blue-darkest;
  }
}

.social__link {
  display: block;

  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;

  &--tw {
    width: 18px;
    height: 15px;
    padding: 16px 13px;

    background-image: url("../img/twitter.svg");
  }

  &--fb {
    width: 9px;
    height: 19px;
    padding: 13px 18px;

    background-image: url("../img/facebook.svg");
  }

  &--yt {
    width: 20px;
    height: 14px;
    padding: 17px 13px;

    background-image: url("../img/youtube.svg");
  }

  &:active {
    opacity: 0.3;
  }
}
