.video__item {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 45px;

  text-align: center;

  border-top: 1px solid $gray-400;

  @media (min-width: $tablet) {
    padding-top: 57px;

    border: 0;
  }

  @media (min-width: $desktop) {
    padding-top: 61px;
    padding-bottom: 89px;
  }
}

.video__title {
  margin-top: 0;
  margin-bottom: 28px;

  color: $black;

  @include fonts($font-size-medium, $line-height-big, 700);

  @media (min-width: $tablet) {
    margin-bottom: 33px;

    @include fonts($font-size-large, $line-height-big, 700);
  }
}

.video__desc {
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 33px;

  color: $black-lighten;

  @include fonts($font-size-small, $line-height-medium);

  br {
    @media (max-width: $mobile-medium) {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 78px;
  }
}

.video__clip {
  display: block;
  width: 100%;
  height: 100%;

  background-color: $gray-600;

  object-fit: cover;

  @media (min-width: $tablet) {
    width: 84%;
    max-width: 800px;
    height: 500px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 800px;
  }
}
