.video__item {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 38px;

  text-align: center;

  border-top: 1px solid $gray-400;
}

.video__title {
  margin-top: 0;
  margin-bottom: 35px;

  color: $black;

  @include fonts($font-size-medium, $line-height-big, 700);
}

.video__desc {
  margin-top: 0;
  margin-bottom: 33px;

  color: $black-lighten;

  @include fonts($font-size-small, $line-height-medium);
}
