.video {
  &__item {
    margin: 0;

    text-align: center;

    border-top: 1px solid $border-gray;

    @include padding(32px, 38px);
  }

  &__title {
    color: $font-black;

    @include title-general($font-size-medium, $line-height-big);
    @include margin(0, 35px);
  }

  &__desc {
    color: $font-black-lighten;

    @include text-general($font-size-small, $line-height-medium);
    @include margin(0, 33px);
  }
}
